# Project exclude paths
/.gradle/
/Music Advisor/task/build/
/Music Advisor/task/out/
/Music Advisor/task/out/production/classes/
/Topics/Decorator/Breakfast Decorator/out/
/Topics/Decorator/Breakfast Decorator/out/production/classes/
/Topics/Decorator/Coffee Decorator/out/
/Topics/Decorator/Coffee Decorator/out/production/classes/